body
{
	margin:0px;
	padding: 0px;
	background: url(../img/bg.jpg) no-repeat center top;
	position: static;
	background-color: #1f1e23;

}
nav
{
	font-weight: bolder;
}
.logo
{
	width:80px; 
}
.img
{
	margin-top: 30px;
	width: 50%;
}
.cardContainer
{
	display: flex;
	flex-direction: row;
}
.cardContainer .card
{
	display: flex;
	flex-direction: row;
}


@media only screen and (max-width: 990px) {
  .img
  {
  	margin-top: 50px;
  }
}
@media only screen and (max-width: 770px) {
  .img
  {
  	margin-top: 100px;
  	width: 60%;
  }
}
@media only screen and (max-width: 573px) {
  .img
  {
  	margin-top: 80px;
  	width: 90%;
  }
  .logo
  {
  	width:70px;
  }
  nav .navbar-nav
  {
  		margin-left: 13px;
  }
}
@media only screen and (max-width: 360px) {
  .img
  {
  	margin-top: 100px;
  	width: 100%;
  }
}
